body{
    background-image:url(../img/image.png);
    font-family: 'Pixelify Sans', sans-serif;
}

#header{
    background-color: rgb(253, 253, 252);
 display: flex;
  justify-content: space-between; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  list-style: none;
  padding: 0;
  font-family: 'Pixelify Sans', sans-serif ;

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
  gap: 20px; 
}
